@font-face {
  font-family: Comfortaa;
  src: url(Comfortaa-Regular.ttf);
}

body {
  font-family: Comfortaa;
  font-size: 1em;
  line-height: normal;
  color: #F5FCFF;
  background-color: #9C4877;
  padding: 0px;
  margin: 0;
}

div{
  margin: 0px 20px;
}

div.succes {
  margin: 0;
  padding: 0px 20px;
  text-align: center;
  background-color: #F5FCFF;
  color: #1C1C1C;
}


div.image1 {
  text-align: center;
}

div.image1 img {
  box-shadow: 0 0 5px 2px red;
  display: inline;
  -align: center;
}

div.succes section strong {
  text-transform: uppercase;
}

div.header h1{
  text-align: center;
}

div.header h2 {
  text-align: center;
}

nav {
  margin: 40px 0px;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-flex;
  margin-left: 40px;
  padding: 10px;
}

nav ul li a{
  color: #F5FCFF;
}

nav ul li a:hover {
  color: #FFF4A5;
  font-weight: bold;
}

div.foooter section {
  text-align: center;
}


table {
  padding: 5px;
  margin: 0;
  overflow: auto;
  width:90%;
}

td {
  border: 1px solid #F5FCFF;
  padding: 5px;
  margin: 0;
  overflow: auto;
}

th {
  border: 1px solid #F5FCFF;
  padding: 5px;
}

td {

}

section.table table td{
  border: 1px solid #F5FCFF;
  padding: 5px;
  margin: 0;
  overflow: auto;
}

section.tabletable th{
  border: 1px solid #F5FCFF;
  padding: 5px;
  margin: 0;
}


section.table table td:nth-child(even){
  background-color: #F5FCFF;
  color: #1C1C1C;
  border: 1px solid #F5FCFF;
}

div.header h3 a {
  color: #F5FCFF;
}

div.header h3 a:hover {
  color: #FFF4A5;
  font-weight: bold;
}

section.webContect ol{
  list-style-type: disc;
}
section.webContect ol li {
  padding: 7px;
}

section.buhTable ol{
  list-style-type: disc;
}
section.buhTable ol li {
  padding: 7px;
}

section.buisnessContent ol{
  list-style-type: disc;
}
section.buisnessContent ol li {
  padding: 7px;
}


footer {
  position: absolute;
  width: 100%;
}

@media (max-width: 424px) {
  .foooter pre {
    display: none;
  }

  .header li {
    margin: 0;
  }

  .header ul {
    padding: 0;
  }

  .header nav {
    padding: 0;
    width: 100%;
  }

  table{
    display: none;
  }

  .table h3{
    display: none;
  }
}



@media (max-width: 767px) {
  body {
    color: #F201FF;
    background-color: #000000;
  }

  .main3 pre {
    display: block;
    overflow: auto;
  }
  .header li {
    margin: 0;
  }

  .header li a {
    margin: 0;
  }
}
